* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container-fluid {
  padding: 0px;
}

.main-container {
  position: relative;
}

header {
  background-color: #0A0914;
  padding: 40px;
  color: #fff;
  width: 100%;
}

header h1 b {
  color: #16ACCF;
}

header h1 {
  color: #FEB14F;
}

.generator {
  padding: 50px;
}

h3 {
  margin-bottom: 40px;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  opacity: 0.8;
}

#map {
  height: 700px;
  margin: 5px;
}

.red {
  color: #F8322F;
}

.green {
  color: #49A86C;
}

.product {
  color: #000;
  padding: 10px 15px 10px 15px;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 4px;
  margin: 15px
}

.product:hover, .product.selected {
  cursor: pointer;
  border: 1px solid #16ACCF;
  color: #16ACCF;
  background-color: #fff;
}

.product img {
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
}
